{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Choose Restaurant with Ease</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!--     <script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style type="text/css">
      body {
        background-color: #A5C4FA;
      }
      
      .choosefirstchoice {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
      }
      
      .title, h1, h3 {
        margin-top: 15%;
        text-align: center;
        background-color: #F4F8FE;
      }
      
      .list-food {
        padding-left: 43%;
/*         color: "" */
/*         font-size: px; */
        background-color: #F4F8FE;
      }
      
      
      #first-choice {
        width: 22%;
        display: flex; /* makes them all in one line after each other*/
        justify-content: space-between; /* information/content inside that line*/
        align-items: center;
        align-content: space-around;
/*         background-color: #F4F8FE; */
      }
      
      #second-choice {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-content: center;
        background-color: #F4F8FE;
      }
    </style>

</head>
<!--Chat
What page is this? the initial page, i was thinkging we can jsut make a bunch of containers and 
then hide them when a button is clicked
hahhaha ya we can do that
but how do you let the websocket stay connected in that case?
i think i saww sb asking on piazza
LLOl so complicated can we make new page for 2nd

Yeha i don tknow how this django thing works let me see
Give me the link to this page PLEASE

https://piazza.com/class/jux2cw25k294wq?cid=402


I need the index.html file lOL... 
this is the index,html
Yeah i want to try" stuff.. it'l get messy if i do it here

ok nw just do it its fine
oke
-->

<body>
  <!--  https://css-tricks.com/snippets/css/a-guide-to-flexbox/    -->
<!--  choose how many people eating === hardcode this part -->
  
<!--   <div class = "number-of-ppl">
    <div class = "title">
      <h1>
        Enter the number of people eating together
      </h1>
      <form>
        <input type = "text"
      </form>
    </div>
  </div> -->
  <div class = "waiting-for-others" style = "display: none; padding: 20%">
    <p style = "font-size: 50px; text-align: center">
      PLEASE WAIT FOR OTHERS TO COMPLETE
    </p>
  </div>
  
<!--   choose first choice === first selection page -->
  <div class = "first-filter">
    <div class = "title">
      <p style = "font-size: 45px">
        What do you want to eat?
      </p>
      <p style = "font-size: 17px">
        Choose the <span style = "font-weight: bold; font-size: 17px">ONE</span> you crave the most!
      </p>
    </div>
    
<!--     <div class = "personno">
      <p>
        Person __
        <!--     <pre id="log">
      </p>
    </div> -->
    
    <div class = "list-food">
      <form id = "list-food">
        <!--    https://www.w3schools.com/html/html_form_input_types.asp      -->
        <label for="sushi" id = "first-choice">Sushi <input type="radio" name="first-choice" value="Sushi"> </label>
        <label for="curry" id = "first-choice">Curry <input type="radio" name="first-choice" value="Curry"> </label>
        <label for="chicken" id = "first-choice">Chicken <input type="radio" name="first-choice" value="Chicken"> </label>
        <label for="soup" id = "first-choice">Soup <input type="radio" name="first-choice" value="Soup"> </label>
        <label for="shrimp" id = "first-choice">Shrimp <input type="radio" name="first-choice" value="Shrimp"> </label>
        <label for="burger" id = "first-choice">Burger <input type="radio" name="first-choice" value="Burger"> </label>
        <br>
        <button type="button" name = "first-choice" id = firstSubmit> Submit </button>
      </form>
    </div>
    
  </div>
    <div class = "second-filter" style = "display:none">  
      <h3>Select Your Favorite Foods:</h3>
      <form id = "second-choice">
          <div id = "foodlist">
              <input type="checkbox" value="sushi" name="food"> sushi
              <input type="checkbox" value="curry" name="food"> curry
              <input type="checkbox" value="meatball" name="food"> meatball
              <input type="checkbox" value="tofu" name="food"> tofu
              <input type="checkbox" value="friedrice" name="food"> friedrice
              <input type="checkbox" value="spaghetti" name="food"> spaghetti
          </div>  
  
           <button type="button" id = secondSubmit>Get Values</button>
      </form>
    <h1 id="topfood">
       ???? 
    </h1>

  </div>
  </body>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script type="text/javascript">
    $(document).ready(()=>{  
      
     //create unique id
     var id = Math.floor(Math.random() * 10000) + 1 // don't delete this
     var dictMe = {}; // nor this
     // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    //initialize the socket  
    var socket = new WebSocket('wss://Choose-Restaurant-with-Ease-jach866608.codeanyapp.com/ws/draw');

      $('input[type=checkbox]').on('change', function (e) {
          if ($('input[type=checkbox]:checked').length > 2) {
              $(this).prop('checked', false);
              alert("Please only select your top two choices");
          }
      });
            
      $("#secondSubmit").click(function(){
          var favorite = [];
          $.each($("input[name='food']:checked"), function(){
              favorite.push($(this).val());
          });
          alert("My two favourite food are: " + favorite.join(", "));
          let msg = {page: "second", id:id,food1:favorite[0],food2:favorite[1]} //let is block-scoped
          socket.send(JSON.stringify(msg));
          console.log("message ")
      });
      
      
//        ..first filtering 
//        https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/radio
//        https://eloquentjavascript.net/2nd_edition/18_forms.html
        var numbPpl = 3;
        var firstForm = document.querySelector("#list-food");
        var firstChoice = [];

        //first-filtering
        function openPage() {
          let msg = {page: "first", id: id, numbPpl:numbPpl};
          console.log(msg);
          socket.onopen = () => socket.send(JSON.stringify(msg)); // tell server that a new user comes in //???
        }

      openPage();
      
      $("#firstSubmit").click(function(){
        var radioValue = ($("input[name=first-choice]:checked").val());
        dictMe[id] = true;
//         console.log("#firstSubmit: numbPpl = %s", numbPpl);
        let msg = {page: "first", fc: radioValue, id: id, numbPpl: numbPpl};
        socket.send(JSON.stringify(msg));
        event.preventDefault();
      });
      
      // gather information
      socket.onmessage = function(receivedMessage){
        let msg = JSON.parse(receivedMessage.data);
       
        if (msg.page == "first") {
          if (!(msg.id in dictMe)){
            dictMe[msg.id] = false;
            let lineNo = ((new Error().stack).toString().split(':'))[2];
//             console.log("line %s: id %s should not be in dictMe = %s ",lineNo, msg.id, dictMe[msg.id]);
          } else if (typeof msg.fc !== 'undefined'){ // check if submit button is pressed
              let lineNo2 = ((new Error().stack).toString().split(':'))[2];
//               console.log("line %s: msg.fc",lineNo2, msg.fc);
            
              if (msg.save != true)
                firstChoice.push(msg.fc); // save first-choice-food into array
            
              console.log("firstChoice length = " + firstChoice.length);
              let lineNo = ((new Error().stack).toString().split(':'))[2];
//               console.log("line %s: id %s should be in dictMe = %s ",lineNo, msg.id, dictMe[msg.id]);

//               console.log("266: msg.numbPpl = " + msg.numbPpl);
              if ((firstChoice.length >= msg.numbPpl) && (msg.numbPpl >= 0)){
                console.log("switch page to second filter");
                
                
                var arrayLength = firstChoice.length;
                
                console.log(firstChoice)
                for (var i = 0; i < arrayLength; i++) {
                  addFood(firstChoice.shift());
                  
                }

                $('.first-filter').hide();
                $('.waiting-for-others').hide();
                $('.second-filter').show();
                // transfer page
              } else if (dictMe[msg.id] == true){ // wait for other incoming messages
                console.log("msg.id = " + msg.id);
                msg.numbPpl--; // keep sending
                numbPpl = msg.numbPpl;
                console.log("waiting page");
                console.log("numbPpl = " + numbPpl);
                console.log("msg.numbPpl = " + msg.numbPpl);
                socket.send(JSON.stringify({page: "first", id: msg.id, numbPpl: msg.numbPpl, save: true})); /// fc: msg.fc,
                $('.first-filter').hide();
                $('.waiting-for-others').show();
              }
          }
        } else { // second page
           console.log("here it gets real")
//             let msg = JSON.parse(receivedMessage.data);

            dictMe[msg.id] = []
            dictMe[msg.id].push(msg.food1)
            dictMe[msg.id].push(msg.food2)  
          
          
            var counterMeFood = {}
            //get the top food
            for (var id in dictMe){
               for (var i = 0; i < 2; i++) {
                 counterMeFood[dictMe[id][i]] = (counterMeFood[dictMe[id][i]] || 0) + 1;
              }
            }
           console.log(counterMeFood)
           maxFood = "";
           maxCounter = 0;
            for (var id in counterMeFood){
              console.log(id)
              if ((id !== 'undefined') && (counterMeFood[id] > maxCounter)){
                maxFood = id
                maxCounter = counterMeFood[id]
              }
            }
            $("#topfood").html("The Top Food Selected is: " + maxFood)
          }
      };
      
      
      function addFood(newName) {

          var checkbox = document.createElement('input');
          checkbox.type = "checkbox";
          checkbox.name = "food";
          checkbox.value = newName;

          var label = document.createElement('label')
          label.htmlFor = "id";
          label.appendChild(document.createTextNode(newName));


          $('#foodlist').append(checkbox);
          $('#foodlist').append(label);
      };

      
      
      
      
      
      
//     // notify console if socket closes unexpectedly
//     socket.onclose = function(e) {
//      console.error('Socket closed unexpectedly');
//     };




    });       
            
            
  </script>
  
</html>