{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>P4 Drawing</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>

    <style type="text/css">
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <canvas id="myCanvas" width="750px" height="750px"></canvas>
</body>
<script>

    // setting up the canvas and one paper tool
    var canvas = document.getElementById('myCanvas');
    paper.setup(canvas);
    var tool = new paper.Tool();
    // getting the URL (you may want to use for Exercise 3)
    var url = window.location.href;
    var socket = new WebSocket('wss://p3-websockets-qlnjq-jach866608.codeanyapp.com/ws/draw');
    
    var date = new Date();
    var seconds = date.getSeconds();
  
    function color(){ // gives rgb
      var currColor = "";
      while(currColor.length < 3){
        currColor += Math.floor(Math.random() * seconds).toString(16);
      }
      return "#" + currColor;
    } 
  
    var line = new paper.Path({
            strokeColor: 'blue',
            strokeWidth: 20,
    });

    tool.onmousemove = function(event){
        var pointx = event.point.x;
        var pointy = event.point.y;
        line.add(new paper.Point(pointx, pointy));
        var jsonPoint = JSON.stringify( {x: pointx, y: pointy} );
        socket.send(jsonPoint); // client send to server
    };
  
    // triggered when receiving a message from the server
    socket.onmessage = function(receivedMessage) {
         var pointx = JSON.parse(receivedMessage.data).x;
         var pointy = JSON.parse(receivedMessage.data).y;
         line.add(new paper.Point(pointx, pointy));
    };

    // use when sending a message to the server
    // to be broadcasted to all clients, please add a delay
//     socket.onopen = () => socket.send(JSON.stringify(..);

    // notify console if socket closes unexpectedly
    socket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };



</script>
</html>
